<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vineture.movhaul">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCylUHF_EPwHEJPtcCAx5C3lokC6DgZrIs" />


        <activity
            android:name="com.vineture.movhaul.SplashActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vineture.movhaul.RegisterActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.LoginOtpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Forgot_Mobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.DashboardNavigation"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Book_now"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Book_later"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.MyTrips"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Job_review"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.DriversList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Payment"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.EmergencyContacts"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Tracking"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Payment_Details"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity
            android:name="com.vineture.movhaul.Payment_Card_Details"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>

        <activity
            android:name="com.vineture.movhaul.WebViewAct"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/actionb"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>


        <receiver android:name="com.vineture.movhaul.ReceiveSmsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.vineture.movhaul.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ted_pick_theme" />

        />

    </application>

</manifest>